## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import os
from dotenv import load_dotenv
load_dotenv()

g_key = os.getenv('g_key')

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Xichang,CN,27.8964,102.2634,63.27,92,4,2.01,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,70.43,63,51,21.70,broken clouds
2,2,Carnarvon,AU,-24.8667,113.6333,59.49,57,0,13.89,clear sky
3,3,Udachnyy,RU,66.4167,112.4000,52.45,81,100,21.85,overcast clouds
4,4,Gunnedah,AU,-30.9833,150.2500,47.71,97,43,7.78,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60.0
What is the maximum temperature you would like for your trip? 90.0

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Xichang,CN,27.8964,102.2634,63.27,92,4,2.01,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,70.43,63,51,21.70,broken clouds
5,5,Carquefou,FR,47.2982,-1.4902,68.07,55,0,10.36,clear sky
6,6,Butaritari,KI,3.0707,172.7902,81.61,75,77,10.09,broken clouds
7,7,Baherden,TM,38.4362,57.4316,88.09,22,1,6.78,clear sky
9,9,Tautira,PF,-17.7333,-149.1500,76.71,78,97,25.97,light rain
10,10,Karavayevo,RU,55.2961,37.9622,73.26,74,0,2.24,clear sky
15,15,Tuktoyaktuk,CA,69.4541,-133.0374,65.66,50,0,14.56,clear sky
16,16,Mayumba,GA,-3.4320,10.6554,68.47,91,83,6.55,broken clouds
18,18,Victoria,HK,22.2855,114.1577,81.32,92,94,5.01,overcast clouds

In [15]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.info()
preferred_cities_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407 entries, 0 to 591
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              407 non-null    int64
 1   City                 407 non-null    object
 2   Country              404 non-null    object
 3   Lat                  407 non-null    float64
 4   Lng                  407 non-null    float64
 5   Max Temp             407 non-null    float64
 6   Humidity             407 non-null    int64
 7   Cloudiness           407 non-null    int64
 8   Wind Speed           407 non-null    float64
 9   Current Description  407 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 35.0+ KB

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
preferred_cities_df[city_data_df['Country'].isna()]

/var/folders/zp/1whxss0j4vlcqf3yf9tv59t00000gn/T/ipykernel_41645/1156127928.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  preferred_cities_df[city_data_df['Country'].isna()]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
186,186,Luderitz,NaN,-26.6481,15.1594,61.43,64,65,5.01,broken clouds
288,288,Usakos,NaN,-22.0000,15.6000,64.81,26,3,1.39,clear sky
495,495,Rundu,NaN,-17.9333,19.7667,62.26,33,0,5.35,clear sky

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.loc[preferred_cities_df['Country'].notna() == True]

clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Xichang,CN,27.8964,102.2634,63.27,92,4,2.01,light rain
1,1,Rikitea,PF,-23.1203,-134.9692,70.43,63,51,21.70,broken clouds
5,5,Carquefou,FR,47.2982,-1.4902,68.07,55,0,10.36,clear sky
6,6,Butaritari,KI,3.0707,172.7902,81.61,75,77,10.09,broken clouds
7,7,Baherden,TM,38.4362,57.4316,88.09,22,1,6.78,clear sky
...,...,...,...,...,...,...,...,...,...,...
585,585,Xinzhi,CN,36.4989,111.7047,82.92,65,17,2.26,few clouds
587,587,Kita,ML,13.0349,-9.4895,76.48,83,87,1.61,light rain
589,589,Nadym,RU,65.5333,72.5167,62.60,68,99,10.02,overcast clouds
590,590,Lucea,JM,18.4510,-78.1736,85.86,79,100,11.50,overcast clouds
591,591,Upata,VE,8.0086,-62.3989,74.14,93,84,4.18,broken clouds

In [53]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Xichang,CN,63.27,light rain,27.8964,102.2634,
1,Rikitea,PF,70.43,broken clouds,-23.1203,-134.9692,
5,Carquefou,FR,68.07,clear sky,47.2982,-1.4902,
6,Butaritari,KI,81.61,broken clouds,3.0707,172.7902,
7,Baherden,TM,88.09,clear sky,38.4362,57.4316,
9,Tautira,PF,76.71,light rain,-17.7333,-149.1500,
10,Karavayevo,RU,73.26,clear sky,55.2961,37.9622,
15,Tuktoyaktuk,CA,65.66,clear sky,69.4541,-133.0374,
16,Mayumba,GA,68.47,broken clouds,-3.4320,10.6554,
18,Victoria,HK,81.32,overcast clouds,22.2855,114.1577,

In [54]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add coordinates to location key in params dictionary
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
            
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
            
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != ""]

In [75]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Xichang,CN,63.27,light rain,27.8964,102.2634,Xichang ibis Hotel
1,Rikitea,PF,70.43,broken clouds,-23.1203,-134.9692,People ThankYou
5,Carquefou,FR,68.07,clear sky,47.2982,-1.4902,Best Western Plus Hôtel de la Régate
6,Butaritari,KI,81.61,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,Tautira,PF,76.71,light rain,-17.7333,-149.1500,Pension Oaoa
...,...,...,...,...,...,...,...
585,Xinzhi,CN,82.92,few clouds,36.4989,111.7047,Mingyue Hotel
587,Kita,ML,76.48,light rain,13.0349,-9.4895,Hôtel Chat Rouge
589,Nadym,RU,62.60,overcast clouds,65.5333,72.5167,Apartment on Zvereva
590,Lucea,JM,85.86,overcast clouds,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
591,Upata,VE,74.14,broken clouds,8.0086,-62.3989,Posada Villa Nela

In [76]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [82]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [83]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))